#featured_1 {
    background-image: url(daydreamer.png);
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 2em 10em;
}

.navbar-default .navbar-nav>li>a {
    font-size: 0.7em;
    color: grey;
    padding: 0 3px;
    margin: 15px 3px;
    border: solid 1px white;
}

.navbar-brand {
    color: grey !important;
    font-weight: 200;
}

.background-img {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

img {
    max-width: 100%;
    height: auto;
   
}
CSS
footer h6{
    font-family: "helvetica neue";
    /* thinner font weight to match the delicate visual style and subtle background color */
    font-weight: 300;
    color: white;
}

body{ 
    font-family: "helvetica neue";
    background-color: white ; 
}


}
#arrow {
  -webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
  -moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
  -o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
  animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */
}
.fa-angle-double-down {
	color: black;
	bottom: 0;
	width: 100%;
	position: absolute;
}
#work #carousel-example-generic{
    margin:0 0 5em 0;
}

#p5Canvas {
    position:fixed;
    top:0;
    left:0
}

#work #carouselcontainer{
    padding: 0;
}
        
  
      }
 #gallary .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}
  
        
  
      
    
